
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@model QuanLyDeThi.Models.ResetPassword


<div class="container-scroller mt-3">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0 justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card shadow rounded-sm">
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <h3 class="text-center mb-4">Thay đổi mật khẩu!</h3>

                                <div class="pt-3">
                                    <h6 class="fw-light">Nhập vào mật khẩu mới</h6>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <h6 class="fw-light">Xác nhận mật khẩu</h6>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-success btn-block btn-lg font-weight-medium auth-form-btn">Xác nhận</button>
                                    </div>

                                    <p class="text-center mt-3">@ViewBag.message</p>

                                    <div class="form-group">
                                        @Html.HiddenFor(a => a.ResetCode)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>



