@model IEnumerable<QuanLyDeThi.Models.Subject>

@{
    ViewBag.Title = "Danh sách";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Tạo mới</a>
</p>

<table class="table">
    <tr>
        <th>
            Tên môn học
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.SubjectID })" class="btn btn-warning">Chỉnh sửa</a>
                <a href="@Url.Action("Details", new { id = item.SubjectID })" class="btn btn-info">Chi tiết</a>
                <a href="@Url.Action("Delete", new { id = item.SubjectID })" class="btn btn-danger delete" data-id="@item.SubjectID">Xóa</a>
            </td>
        </tr>
    }

</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>const btnDelete = document.querySelectorAll('.delete');

    btnDelete.forEach(btn => {
        btn.addEventListener('click', (event) => {
            var id = btn.dataset.id;
            event.preventDefault();

            Swal.fire({
                title: 'Bạn có chắc chắn muốn xóa ?',
                text: "Nếu bạn xóa bạn không thể khôi phục lại!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Hủy',
                confirmButtonText: 'Xóa'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Xóa thành công'
                    )
                    window.location.href = "/Subjects/Delete/" + id;
                }
            })
        });
    });</script>